<p>Entity Extraction</p>
<form (ngSubmit)="onSubmit()">
  <label>Text</label>
  <br>
  <textarea
    name="text"
    type="text"
    required
    [(ngModel)]="entityModel.text"
  ></textarea>
  <br>
  <label>Min confidence: {{ entityModel.minConf }}</label>
  <br>
  <input value="0" type="range" name="minConf" #minConf min="0" max="1" step="0.01" (input)="setMinConf(minConf.value)">
  <br>
  <label>Include</label>
  <div >
    <input
      type="checkbox"
      name="image"
      value="image"
      (change)="handleIncludeCheck($event)"
    />
    <label>Image</label>
  </div>
  <div>
    <input
      type="checkbox"
      name="abstract"
      value="abstract"
      (change)="handleIncludeCheck($event)"
    />
    <label> Abstract </label>
  </div>
  <div>
    <input
      type="checkbox"
      name="categories"
      value="categories"
      (change)="handleIncludeCheck($event)"
    />
    <label>Categories</label>
  </div>
  <div>
    <button type="submit">Submit</button>
  </div>

  <div *ngFor="let annotation of annotations">
    <p>###########################################################</p>
    <img *ngIf="annotation.image" [src]="annotation.image.thumbnail" [alt]="annotation.label">
    <div>
      <p>Annotations</p>
      <h5>{{ annotation.label }}</h5>
      <p *ngIf="annotation.abstract">
        {{ annotation.abstract }}
      </p>
    </div>
    <div *ngIf="annotation.categories">
      <p>categories</p>
      <ul>
        <li
          *ngFor="let category of annotation.categories"
        >
          {{ category }}
        </li>
      </ul>
    </div>
    <p>###########################################################</p>
  </div>

</form>
