
<ul>
    <li>
        <a [routerLink]="['/']" routerLinkActive="router-link-active" >Home</a>
    </li>
  <ng-container *ngIf="isValid">
    <li>
          <a [routerLink]="['/entity-extraction']" routerLinkActive="router-link-active" >Entity extraction</a>
      </li>
      <li>
          <a [routerLink]="['/language-detection']" routerLinkActive="router-link-active" >Language detection</a>
      </li>
      <li>
          <a [routerLink]="['/sentiment-analysis']" routerLinkActive="router-link-active" >Sentiment analysis</a>
      </li>
      <li>
          <a [routerLink]="['/text-similarity']" routerLinkActive="router-link-active" >Text similartiy</a>
      </li>
      <li>
          <a [routerLink]="['/history']" routerLinkActive="router-link-active" >History</a>
      </li>
  </ng-container>
</ul>
